@mixin media($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin font($size, $color, $family, $weight: 400, $style: normal) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
    font-family: $family, Arial, sans-serif;
}

@mixin flex ($ai, $jc: flex-start, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin button ($padding, $text-transform, $background-color, $border-radius, $text-on-hover, $bg-on-hover) {
    padding: $padding;
    text-decoration: none;
    text-transform: $text-transform;
    background-color: $background-color;
    border-radius: $border-radius;

    &:hover {
        color: $text-on-hover;
        background-color: $bg-on-hover;
        transition: all 0.5s ease;
    }
}


