.container {
    margin: 0 auto;
    max-width: 479px;
}

@include media(480px) {
    .container {
        max-width: 767px;
    }
}

@include media(768px) {
    .container {
        max-width: 1199px;
    }
}

@include media(1200px) {
    .container {
        max-width: 1200px;
    }
}
