.social-btn {
@include font (21px, #fff, $main-font);
width: 280px;
text-align: center;
position: relative;
text-decoration: none;
}

.social-btn_github {
    @include button (15px 0, none, #f3f3f3, 4px, #fff, #273f4c);
    color: #000;
}

.social-btn_twitter {
    @include button (15px 0, none, #26a6d1, 4px, #26a6d1, #fff);
    border: solid 1px #21a7d2;
}

.social-btn_facebook {
    @include button (15px 0, none, #3b5998, 4px, #385899, #fff);
    border: solid 1px #385899;
}

.fa-github, .fa-twitter, .fa-facebook-f {
    position: absolute;
    left: 24px;
}

.subscribe-btn {
@include button (12px 0, none, $main-color, 21px, $main-color, #fff);
@include font (13px, #fff, $main-font);
border: solid 1px $main-color;
width: 140px;
}