.header {
    background-image: url("../img/320/header-bg-320.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    &__top-bar {
        background-color: #262121;
        padding: 30px 15px;
    }

    &__top-bar-container {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__nav-dropdown {
        position: relative;
        display: block;
    }

    &__nav-dropdown:hover &__nav-list {
        display: block;
    }

    &__nav-list {
        margin: 0;
        padding: 0;
        top: 73px;
        right: -15px;
        position: absolute;
        display: none;
        list-style: none;
        background: rgba(51, 51, 51, 1);
        min-width: 100vw;

    }



    &__nav-list-item-link {
        font-family: 'montserrat', sans-serif;
        display: block;
        padding: 15px 40px;
        color: #fff;
        font-size: 24px;
        border-bottom: 1px solid #444141;
        text-decoration: none;
    }


    &__nav-ham-icon,
    &__nav-cross-icon {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
    }

    &__nav-cross-icon {
        display: none;
    }

    &__nav-icons:hover &__nav-ham-icon {
        display: none;
    }

    &__nav-icons:hover &__nav-cross-icon {
        display: block;
    }

    &__nav-list-item-link:hover {
        color: $main-color;
    }

    &__nav-list-item:hover &__nav-list-item-link::before {
        content: '';
        position: absolute;
        width: 4px;
        left: 0;
        display: block;
        height: 30px;
        background: $main-color;
    }

    &__logo-link {
        text-decoration: none;
    }

    &__logo-link:hover {
        filter: brightness(0) invert(1);
        transition: all 0.5s ease;
    }

    &__logo-link-img-big {
        display: none;
    }

    &__btn {
        @include font (15px, #fff, $main-font, 700);
        @include button (12px 25px, capitalize, $main-color, 40px, $main-color, #fff);
    }

    &__title {
        margin-top: 40px;
        @include font (48px, #fff, $main-font, 700);
        text-align: center;
        text-transform: capitalize;
    }

    &__slogan {
        margin: 20px 30px;
        @include font (18px, #8d81ac, $main-font);
        text-align: center;
        text-transform: capitalize;
        line-height: 1.5;
    }

    &__subslogan {
        @include font (14px, #848e97, $main-font);
        text-align: center;
        text-transform: uppercase;
    }

    &__low-button-container {
        text-align: center;
    }

    &__low-btn {
        @include font (18px, #fff, $main-font, 700);
        border: 1px solid $main-color;
        @include button (15px 30px, capitalize, $main-color, 40px, $main-color, #fff);
        position: absolute;
        transform: translate(-50%, 50%);
        bottom: 0;
        width: fit-content;
    }

    &__low-btn-description {
        @include font (14px, #848e97, $main-font);
        text-align: center;
        text-transform: capitalize;
        position: absolute;
        transform: translate(-50%, 50%);
        bottom: -45px;
        width: fit-content;
    }

}

//header @media
@include media (480px) {
    .header {
        background-image: url("../img/480/header-bg-480.png");
        background-size: cover;
        background-repeat: no-repeat;

        &__logo-link-img-big {
            display: block;
        }

        &__logo-link-img {
            display: none;
        }

        &__logo {
            display: flex;
            align-items: center;
        }

        &__title {
            margin-top: 100px;
            @include font (54px, #fff, $main-font, 700);
        }

        &__slogan {
            margin: 30px 50px;
            @include font (20px, #8d81ac, $main-font);
        }

        &__subslogan {
            @include font (16px, #848e97, $main-font);
        }

        &__low-btn {
            @include font (21px, #fff, $main-font, 700);
            @include button (25px 60px, capitalize, $main-color, 40px, $main-color, #fff)
        }

        &__low-btn-description {
            bottom: -60px;
        }
    }
}

@include media (768px) {

    .header {
        background-image: url("../img/768/header-bg-768.png");
        background-size: cover;
        background-repeat: no-repeat;

        &__logo {
            flex-basis: 48%;
            margin-left: 2%;
        }

        &__button-main {
            display: flex;
            justify-content: flex-end;
            flex-basis: 48%;
            margin-right: 2%;
        }

        &__logo-link {
            order: 1
        }

        &__nav-dropdown {
            order: 3
        }


        &__btn {
            order: 2
        }

        &__top-bar-container {
            flex-wrap: wrap;
        }

        &__nav-dropdown {
            position: unset;
            display: flex;
        }

        &__nav-dropdown:hover &__nav-list {
            display: flex;
        }

        &__nav-list {
            margin: 22px 0 0 0;
            padding: 0;
            position: unset;
            display: flex;
            justify-content: center;
            list-style: none;
            background: none;
        }

        &__nav-list-item {
            margin-right: 2%;
        }

        &__nav-list-item-link {
            @include font (18px, $main-color, $main-font, 700);
            display: inline-block;
            padding: 0;
            border-bottom: none;
            text-decoration: none;
        }

        &__nav-ham-icon,
        &__nav-cross-icon {
            display: none;
        }

        &__nav-icons:hover &__nav-ham-icon {
            display: none;
        }

        &__nav-icons:hover &__nav-cross-icon {
            display: none;
        }

        &__nav-list-item-link:hover {
            color: #fff;
            transition: all 0.5s ease;
        }

        &__nav-list-item:hover &__nav-list-item-link::before {
            display: none;
        }

        //        menu end

        &__title {
            margin-top: 50px;
            @include font (72px, #fff, $main-font, 700);
        }

        &__slogan {
            margin: 20px 0px;
            @include font (24px, #8d81ac, $main-font);
        }

        &__subslogan {
            @include font (14px, #848e97, $main-font);
        }

        &__low-btn-description {
            bottom: -60px;
        }
    }
}

@include media (1200px) {
    .header {
        background-image: url("../img/1200/header-bg-1200.png");
        background-size: cover;
        background-repeat: no-repeat;


        &__nav-list {
            margin: 0 0 0 15%;
            justify-content: flex-end;
            min-width: 600px;

        }

        &__nav-dropdown {
            flex-basis: 50%;
        }

        &__logo {
            flex-basis: auto;
        }

        &__button-main {
            flex-basis: auto;
        }


        &__nav-list-item {
            margin-right: 3%;
        }

        &__title {
            margin-top: 50px;
            @include font (82px, #fff, $main-font, 700);
        }

        &__slogan {
            margin: 18px 0px;
            @include font (30px, #8d81ac, $main-font);
        }

        &__subslogan {
            @include font (16px, #848e97, $main-font);
        }

        &__top-bar-container {
            flex-wrap: nowrap;
        }

        &__logo {
            order: 1
        }

        &__nav-dropdown {
            order: 2;
            align-self: center;
        }

        &__button-main {
            order: 3
        }

    }
}
