.container_product-features {
    @include flex (center, center, column);
}
.product-features {
    background-color: #f4f4f4;
    padding: 34px 20px 6px;

    &__header {
        width: 230px;
        @include font (32px, $main-color, $main-font, 700);
        text-align: center;
        margin-bottom: 67px;
    }
    &__item {
        @include flex (center, center, column);
        text-align: center;
    }
    &__item-wrapper-small {
        margin-bottom: 38px;
    }
    &__item-caption {
        @include font (16px, #323232, $main-font);
        text-align: center;
        margin: 29px 0 21px 0;
    }
    &__item-text {
        @include font (14px, #848e97, $secondary-font);
        text-align: center;
    }
    &__editor-image {
        width: 317px;
        height: 381px;
        background-image: url('../img/320/editor-320.png');
        background-size: cover;
        margin: 57px -20px 0 0;
        align-self: flex-end;
    }
}

@include media(480px) {
    .product-features {
        padding: 47px 26px 22px;
        &__header {
            width: 320px;
            font-size: 42px;
        }
        &__item {
            width: 425px;
            @include flex (flex-start,
            space-between,
            row);
        }
        &__item-wrapper-small {
            width: 300px;
            margin-bottom: 46px;
            text-align: left;
        }
        &__item-caption {
            text-align: left;
            margin: 0 0 20px 0;
        }
        &__editor-image {
            width: 468px;
            height: 519px;
            background-image: url('../img/480/editor-480.png');
            margin: 0 -26px 0 0;
        }
    }
}

@include media(768px) {
    .product-features {
        padding: 54px 30px 23px;
        &__header {
            width: 510px;
        }
        &__item {
            width: 700px;
        }
        &__item-wrapper-small {
            width: 570px;
            margin-bottom: 56px;
        }
        &__editor-image {
            width: 758px;
            height: 519px;
            background-image: url('../img/768/editor-768.png');
            margin: 0 -30px 0 0;
        }
    }
}

@include media(1200px) {

    .container_product-features {
        @include flex (center, space-between, row, wrap);
    }

    .product-features {
        padding: 54px 40px 20px;

        &__items-wrapper {
         position: relative;
         top: -50px;
         flex-basis: auto;
        }

        &__header {
            flex-basis: 100%;
            font-size: 48px;
            align-self: flex-start;
            text-align: right;
            margin: 0 50px 20px 0;
        }
        &__item {
            width: 470px;
        }
        &__item-wrapper-small {
            width: 70%;
            margin-bottom: 34px;
        }
        &__editor-image {
            flex-basis: auto;
            width: 680px;
            height: 510px;
            background-image: url('../img/1200/editor-1200.png');
            margin: 0 -40px 70px 0;
        }
    }
}