.container_social {
    @include flex (center, center, column);
}
.social {
background: #fff;
padding: 63px 25px 40px;
position: relative;

&__feedback {
    @include flex (center, space-between, row);
    margin-bottom: 35px;
}
&__feedback-carousel-control {
    color: #a2a2a2;
    font-size: 20px;
    cursor: pointer;
}

&__feedback-carousel {
    @include flex (center, space-between, column);
}

&__feedback-carousel-item {
    @include flex (center, center, column);
    margin: 0 20px; 
}
&__feedback-author {
    @include flex (center, center, column);
}

&__feedback-author-userpic {
border-radius: 50%;
border: solid  #fbcdce .5px;
width: 85px;
height: 85px;
background-image: url(../img/320/userpic-carousel.png);
}

&__feedback-author-caption-wrapper {
    @include flex (center, center, column);
    margin-bottom: 23px;
}
&__feedback-author-caption-name {
    margin: 25px 0 7px 0;
    @include font (24px, #000, $main-font, 700);
}
&__feedback-author-caption-nickname {
    @include font (16px, $main-color, $main-font);
}

&__feedback-carousel-item-text {
    @include font (17px, #333, $secondary-font);
    text-align: center;
    margin-bottom: 16px;
}
&__feedback-carousel-item-text span {
    @include font (17px, $main-color, $secondary-font);
    text-align: center;
}
&__feedback-carousel-item-time {
    @include font (16px, #848e97, $main-font);
    text-align: center;
}
&__buttons {
    @include flex (center, space-between, column);
}
&__buttons-item {
    @include flex (center, space-between, column);
}
&__buttons-item-followers {
    margin: 18px 0 30px;
    @include font (14px, #848e97, $main-font);  
}
}

@include media(480px) {
    .social {
        padding: 120px 27px 30px;
        
        &__feedback {
            margin-bottom: 55px;
        }
        &__feedback-author {
            @include flex (center, space-between, row);
            margin-bottom: 40px;
        }
        
        &__feedback-author-userpic {
        margin-right: 10px;
        }
        &__feedback-author-caption-wrapper {
            align-items: flex-start;
        }
        &__feedback-author-caption-name {
            margin: 25px 0 7px 0;
        }
        
        &__feedback-carousel-control {
            position: relative;
            top: 50px;
        }

        &__feedback-carousel-item-text {
            font-size: 16px;
            margin-bottom: 22px;
        }
        &__feedback-carousel-item-text span {
            font-size: 16px;
        }
        }
    }

    @include media(768px) {
        .social {
            padding: 50px 10% 25px;
            
            &__feedback-carousel-item-text {
                font-size: 20px;
                margin-bottom: 27px;
            }
            &__feedback-carousel-item-text span {
                font-size: 20px;
        
            }
            &__underline {
                position: absolute;
                top: 50%;
                width: 100%;
                height: 1px;
                border-top: 1px #f4f4f4 solid;
            }

            &__buttons {
                @include flex (center, center, row, wrap);
                width: 520px;
            }
            .social-btn {
                width: 240px;
            }
            .social-btn_twitter {
                margin-left: 40px;
            }
        }
    }

    @include media(1200px) {
        .social {
            padding: 87px 18% 50px;
            
            &__feedback {
                border-bottom: 1px #f4f4f4 solid;
            }
            &__feedback-carousel {
                margin: 0 0 57px;
            }
            &__feedback-carousel-control {
                top: 30px;
            }
            &__underline {
               display: none;
            }

            &__buttons {
                @include flex (center, center, row);
            }
            .social-btn_twitter{
                margin: 0 40px;
            }
        }
    }