.testimonials {
    padding-top: 30px;
    padding-bottom: 45px;
    background: #4b3b4e url("../img/320/testimonials-bg-320.png");
    background-repeat: no-repeat;
    background-size: cover;


    &::after {
        content: "";
        width: 85%;
        height: 2px;
        background: #7d7180ab;
        display: block;
        margin: 0 auto;
    }

    &__headding {
        @include font (36px, #fff, $main-font, 700);
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    &__testimonial-wrapper {
        @include flex (center, $jc: flex-start, $direction: column, $wrap: nowrap);
    }

    &__item-icon {
        text-align: center;
    }

    &__item-text {

        margin: 30px 35px 40px;
        @include font(16px, #fff, $secondary-font, 700, italic);
        text-align: center;
    }

    &__silent-text {
        display: none;
    }

}

// media

@include media (480px) {


    .testimonials {
        background: #4b3b4e url("../img/480/testimonials-bg-480.png");
        background-repeat: no-repeat;
        background-size: cover;

        &__headding {
            @include font (42px, #fff, $main-font, 700);
        }

        &__item-text {
            margin: 4% 15% 10%;
            @include font(16px, #fff, $secondary-font, 700, italic);
            text-align: center;
        }
    }
}

@include media (768px) {
    .testimonials {
        background: #4b3b4e url("../img/768/testimonials-bg-768.png");
        background-repeat: no-repeat;
        background-size: cover;

        &__item {
            width: 50%;
        }

        &__item-text {
            margin: 4% 5% 10%;
            @include font(16px, #fff, $secondary-font, 700, italic);
            text-align: center;
        }

        &__testimonial-wrapper {
            @include flex (baseline, center, row, wrap);
        }

        &__silent-text {
            @include font(14px, rgba(162, 145, 165, 0.8), $secondary-font, 700);
            margin: 0 auto 2%;
            display: block;
            text-align: center;
            width: 75%;
        }

    }
}

@include media (1200px) {
    .testimonials {
        background: #4b3b4e url("../img/1200/testimonials-bg-1200.png");
        background-repeat: no-repeat;
        background-size: cover;


        &__item {
            width: 33%;
        }

        &__item-text {
            margin: 4% 5% 20%;
            @include font(16px, #fff, $secondary-font, 700, italic);
            text-align: center;
        }

        &__testimonial-wrapper {
            @include flex (baseline, center, row, wrap);
        }

    }

}
