.pricing {
    background-color: #4b3b4e;


    &__tables {
        display: flex;
        flex-direction: column;

    }

    &__headding {
        @include font (28px, #fff, $main-font, 700);
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    &__plan {
        margin: 15px auto;
        @include flex (center, center, column, nowrap);
        background-color: rgba(255, 255, 255, 0.11);
        text-align: center;
        width: 80%;
    }

    &__plan-head {
        padding: 45px 32px 35px;
        @include font (24px, #fff, $main-font);
        background-color: rgba(255, 255, 255, 0.06);
        text-transform: uppercase;
        width: 100%;
    }

    &__plan-price {
        margin-top: 32px;
    }

    &__plan-price-main {
        @include font (60px, #fff, $main-font, 700);
    }

    &__plan-price-main-currency {
        @include font (60px, #fff, $main-font);
    }

    &__plan-price-additional {
        @include font (14px, rgba(255, 255, 255, 0.25), $main-font);
        text-transform: uppercase;
    }


    &__plan-description {
        @include font (16px, #fff, $main-font);
        text-transform: capitalize;
    }

    &__plan-description::before {
        content: "";
        width: 70px;
        height: 5px;
        background: #8d81ac;
        display: block;
        margin: 20px auto 30px;
    }

    &__plan-btn {
        @include font (14px, #fff, $main-font);
        @include button (15px 35px, uppercase, rgba(255, 255, 255, 0.15), 40px, #7f6d78, rgba(255, 255, 255, 0.7));
        margin: 65px 0 40px 0;
    }

    &__plan_recomended {
        background: rgba(0, 0, 0, 0.2);
        width: 90%;
    }

    &__plan-price-main_recomended {
        @include font (82px, #fff, $main-font, 700);
    }

    &__plan-price-main-currency_recomended {
        @include font (82px, #fff, $main-font);
    }

    &__plan-head_recomended {
        @include font (24px, #fff, $main-font);
        background-color: rgba(7, 4, 4, 0.26);
        text-transform: uppercase;
        width: 100%;
    }

    &__plan-btn_recomended {
        @include font (16px, #fff, $main-font);
        @include button (20px 50px, uppercase, rgba(255, 255, 255, 0.15), 40px, #7f6d78, rgba(255, 255, 255, 0.7));
        margin: 65px 0 45px 0;
    }

}

//media

@include media (480px) {
    .pricing {
        &__plan {
            width: 60%;
        }

        &__plan_recomended {
            width: 80%;
        }


    }

}

@include media (768px) {
    .pricing {
        &__headding {
            @include font (42px, #fff, $main-font, 700);
            padding-top: 5%;
            margin-bottom: 3%;
        }

        &__tables {
            @include flex (center, center, row, wrap);
        }

        &__plan {
            width: 40%;
        }

        &__plan_recomended {
            width: 50%;
        }
    }

}

@include media (1200px) {

    &__headding {
        @include font (50px, #fff, $main-font, 700);
        padding-top: 10%;
        margin-bottom: 3%;
    }

    .pricing {
        &__plan {
            width: 20%;
            margin: 1%;
        }

        &__plan_recomended {
            width: 28%;
        }
    }


}
