.container_callback {
    @include flex (center, center, column);
}
.callback {
    background: #f4f4f4;
    padding: 30px 0 40px;

    &__header-small {
        width: 222px;
        margin-bottom: 40px;
        @include font (24px, #323232, $main-font, 700);
        line-height: 34px;
        text-align: center;
    }
    &__header-big {
        display: none;
    }
    &__form-wrapper {
        @include flex (center, center, column);
    }
    &__input {
        border-radius: 21px;
        background-color: #fff;
        width: 290px;
        padding: 15px 25px;
        margin-bottom: 15px;
        outline: none;
        border: 0;
        @include font (14px, #c8cbcf, $main-font);
    }
}

input:nth-of-type(2) {
    margin-bottom: 21px;
}

@include media(480px) {
    .callback {
        padding: 50px 0;
        &__header-small {
            width: auto;
            margin-bottom: 45px;
            font-size: 28px;
        }
    }
    input:nth-of-type(2) {
        margin-bottom: 15px;
    }
}

@include media(768px) {
    .callback {
        padding: 25px 30px 32px;

        &__header-big {
            display: block;
            margin-bottom: 30px;
            @include font (30px, #635c73, $main-font, 700);
            line-height: 60px;
            text-align: center;
        }
        &__header-small {
            display: none;
        }
        &__form-wrapper {
            @include flex (center, center, row, wrap);
            max-width: 800px;
        }
        &__input {
            width: 335px;
            margin-bottom: 26px;
        }
    }
    input:nth-of-type(2) {
        margin: 0 0 26px 36px;
    }
}

@include media(1200px) {
    .container_callback {
        @include flex (center, center, row);
    }
    .callback {
        padding: 55px 30px 45px;

        &__header-big {
            margin: 0 110px 0 0;
        }
        &__form-wrapper {
            @include flex (center, center, row);
            max-width: auto;
        }
        &__input {
            margin-bottom: 0;
        }
    }
    input:nth-of-type(2) {
        margin: 0 20px;
    }
}