.container_footer {
    @include flex (flex-start, center, column);
}

.footer {
    background: #fff;
    padding: 40px 20% 50px 20px;
    text-align: left;

    &__headline-logo {
        display: none;
        transition: all 0.2s;
    }

    &__headline-link {
        text-decoration: none;
        @include flex (flex-start, flex-start, row);
    }

    &__headline-name {
        @include font (24px, #333, $main-font);
        margin-bottom: 36px;
        transition: all 0.2s;
    }

    &__headline-name span {
        color: $main-color;
    }

    &__headline-link:hover .footer__headline-logo {
        filter: brightness(0%);
    }

    &__headline-link:hover .footer__headline-name {
        color: $main-color;
    }

    &__headline-link:hover .footer__headline-name span {
        color: #333;
    }

    &__headline-text {
        width: 260px;
        @include font (14px, #848e97, $main-font);
        line-height: 21px;
        margin-bottom: 36px;

    }

    &__nav {
        @include flex (flex-start, center, column);
        margin-bottom: 25px;
    }

    &__nav-header {
        @include font (16px, #323232, $main-font);
        margin-bottom: 23px;
    }

    &__nav-item {
        @include font (15px, $main-color, $main-font);
        margin-bottom: 10px;
        text-decoration: none;
        border-bottom: 1px rgba(0, 0, 0, 0) solid;
    }

    &__nav-item:link,
    &__nav-item:visited,
    &__nav-item:active {
        color: $main-color;
    }

    &__nav-item:hover {
        border-bottom: 1px $main-color solid;
    }

    &__contacts {
        @include flex (flex-start, center, column);
    }

    &__contacts-tel {
        @include font (30px, #31384d, $main-font, 700);
        margin-bottom: 15px;
    }

    &__contacts-working-hours {
        @include font (12px, #848e97, $main-font);
        margin-bottom: 38px;
    }

    &__contacts-address-city {
        @include font (16px, #323232, $main-font);
        margin-bottom: 20px;
    }

    &__contacts-address-rest {
        @include font (14px, #848e97, $main-font);
        margin-bottom: 38px;
    }

    &__info-header {
        @include font (16px, #323232, $main-font);
        margin-bottom: 24px;
    }

    &__info-text {
        @include font (14px, #848e97, $main-font);
        text-align: justify;
    }
}

@include media(480px) {

    .footer {
        padding: 30px 10% 40px 35px;

        &__headline {
            @include flex (flex-start, flex-start, row, wrap);
        }

        &__headline-logo {
            display: block;
            margin-right: 20px;
        }

        &__headline-name {
            margin: 0 240px 36px 0;
        }
    }
}

@include media(768px) {
    .container_footer {
        @include flex (flex-start, center, row, wrap);
    }

    .footer {
        padding: 64px 10% 44px 38px;

        &__headline {
            flex-basis: 50%;
        }

        &__headline-name {
            margin: 0 110px 36px 0;
        }

        &__nav {
            flex-basis: 50%;
        }

        &__contacts {
            flex-basis: 50%;
        }

        &__contacts-address-rest {
            width: 220px;
        }

        &__info {
            flex-basis: 50%;
        }

        &__info-text {
            padding-right: 150px;
            text-align: left;
        }
    }

}

@include media(1200px) {

    .container_footer {
        @include flex (flex-start, center, row);
    }

    .footer {
        padding: 60px 80px 60px;

        &__headline-name {
            margin: 0 100px 36px 0;
        }

        &__headline-text {
            padding-right: 30px;
        }
    }
}