/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

$text-color: #fff;
$main-color:#8d81ac;
$main-font:'Montserrat';
$secondary-font:'Lato';

@mixin media($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin font($size, $color, $family, $weight: 400, $style: normal) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
    font-family: $family, Arial, sans-serif;
}

@mixin flex ($ai, $jc: flex-start, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin button ($padding, $text-transform, $background-color, $border-radius, $text-on-hover, $bg-on-hover) {
    padding: $padding;
    text-decoration: none;
    text-transform: $text-transform;
    background-color: $background-color;
    border-radius: $border-radius;

    &:hover {
        color: $text-on-hover;
        background-color: $bg-on-hover;
        transition: all 0.5s ease;
    }
}



.container {
    margin: 0 auto;
    max-width: 479px;
}

@include media(480px) {
    .container {
        max-width: 767px;
    }
}

@include media(768px) {
    .container {
        max-width: 1199px;
    }
}

@include media(1200px) {
    .container {
        max-width: 1200px;
    }
}

.social-btn {
@include font (21px, #fff, $main-font);
width: 280px;
text-align: center;
position: relative;
text-decoration: none;
}

.social-btn_github {
    @include button (15px 0, none, #f3f3f3, 4px, #fff, #273f4c);
    color: #000;
}

.social-btn_twitter {
    @include button (15px 0, none, #26a6d1, 4px, #26a6d1, #fff);
    border: solid 1px #21a7d2;
}

.social-btn_facebook {
    @include button (15px 0, none, #3b5998, 4px, #385899, #fff);
    border: solid 1px #385899;
}

.fa-github, .fa-twitter, .fa-facebook-f {
    position: absolute;
    left: 24px;
}

.subscribe-btn {
@include button (12px 0, none, $main-color, 21px, $main-color, #fff);
@include font (13px, #fff, $main-font);
border: solid 1px $main-color;
width: 140px;
}
.header {
    background-image: url("../img/320/header-bg-320.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    &__top-bar {
        background-color: #262121;
        padding: 30px 15px;
    }

    &__top-bar-container {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__nav-dropdown {
        position: relative;
        display: block;
    }

    &__nav-dropdown:hover &__nav-list {
        display: block;
    }

    &__nav-list {
        margin: 0;
        padding: 0;
        top: 73px;
        right: -15px;
        position: absolute;
        display: none;
        list-style: none;
        background: rgba(51, 51, 51, 1);
        min-width: 100vw;

    }



    &__nav-list-item-link {
        font-family: 'montserrat', sans-serif;
        display: block;
        padding: 15px 40px;
        color: #fff;
        font-size: 24px;
        border-bottom: 1px solid #444141;
        text-decoration: none;
    }


    &__nav-ham-icon,
    &__nav-cross-icon {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
    }

    &__nav-cross-icon {
        display: none;
    }

    &__nav-icons:hover &__nav-ham-icon {
        display: none;
    }

    &__nav-icons:hover &__nav-cross-icon {
        display: block;
    }

    &__nav-list-item-link:hover {
        color: $main-color;
    }

    &__nav-list-item:hover &__nav-list-item-link::before {
        content: '';
        position: absolute;
        width: 4px;
        left: 0;
        display: block;
        height: 30px;
        background: $main-color;
    }

    &__logo-link {
        text-decoration: none;
    }

    &__logo-link:hover {
        filter: brightness(0) invert(1);
        transition: all 0.5s ease;
    }

    &__logo-link-img-big {
        display: none;
    }

    &__btn {
        @include font (15px, #fff, $main-font, 700);
        @include button (12px 25px, capitalize, $main-color, 40px, $main-color, #fff);
    }

    &__title {
        margin-top: 40px;
        @include font (48px, #fff, $main-font, 700);
        text-align: center;
        text-transform: capitalize;
    }

    &__slogan {
        margin: 20px 30px;
        @include font (18px, #8d81ac, $main-font);
        text-align: center;
        text-transform: capitalize;
        line-height: 1.5;
    }

    &__subslogan {
        @include font (14px, #848e97, $main-font);
        text-align: center;
        text-transform: uppercase;
    }

    &__low-button-container {
        text-align: center;
    }

    &__low-btn {
        @include font (18px, #fff, $main-font, 700);
        border: 1px solid $main-color;
        @include button (15px 30px, capitalize, $main-color, 40px, $main-color, #fff);
        position: absolute;
        transform: translate(-50%, 50%);
        bottom: 0;
        width: fit-content;
    }

    &__low-btn-description {
        @include font (14px, #848e97, $main-font);
        text-align: center;
        text-transform: capitalize;
        position: absolute;
        transform: translate(-50%, 50%);
        bottom: -45px;
        width: fit-content;
    }

}

//header @media
@include media (480px) {
    .header {
        background-image: url("../img/480/header-bg-480.png");
        background-size: cover;
        background-repeat: no-repeat;

        &__logo-link-img-big {
            display: block;
        }

        &__logo-link-img {
            display: none;
        }

        &__logo {
            display: flex;
            align-items: center;
        }

        &__title {
            margin-top: 100px;
            @include font (54px, #fff, $main-font, 700);
        }

        &__slogan {
            margin: 30px 50px;
            @include font (20px, #8d81ac, $main-font);
        }

        &__subslogan {
            @include font (16px, #848e97, $main-font);
        }

        &__low-btn {
            @include font (21px, #fff, $main-font, 700);
            @include button (25px 60px, capitalize, $main-color, 40px, $main-color, #fff)
        }

        &__low-btn-description {
            bottom: -60px;
        }
    }
}

@include media (768px) {

    .header {
        background-image: url("../img/768/header-bg-768.png");
        background-size: cover;
        background-repeat: no-repeat;

        &__logo {
            flex-basis: 48%;
            margin-left: 2%;
        }

        &__button-main {
            display: flex;
            justify-content: flex-end;
            flex-basis: 48%;
            margin-right: 2%;
        }

        &__logo-link {
            order: 1
        }

        &__nav-dropdown {
            order: 3
        }


        &__btn {
            order: 2
        }

        &__top-bar-container {
            flex-wrap: wrap;
        }

        &__nav-dropdown {
            position: unset;
            display: flex;
        }

        &__nav-dropdown:hover &__nav-list {
            display: flex;
        }

        &__nav-list {
            margin: 22px 0 0 0;
            padding: 0;
            position: unset;
            display: flex;
            justify-content: center;
            list-style: none;
            background: none;
        }

        &__nav-list-item {
            margin-right: 2%;
        }

        &__nav-list-item-link {
            @include font (18px, $main-color, $main-font, 700);
            display: inline-block;
            padding: 0;
            border-bottom: none;
            text-decoration: none;
        }

        &__nav-ham-icon,
        &__nav-cross-icon {
            display: none;
        }

        &__nav-icons:hover &__nav-ham-icon {
            display: none;
        }

        &__nav-icons:hover &__nav-cross-icon {
            display: none;
        }

        &__nav-list-item-link:hover {
            color: #fff;
            transition: all 0.5s ease;
        }

        &__nav-list-item:hover &__nav-list-item-link::before {
            display: none;
        }

        //        menu end

        &__title {
            margin-top: 50px;
            @include font (72px, #fff, $main-font, 700);
        }

        &__slogan {
            margin: 20px 0px;
            @include font (24px, #8d81ac, $main-font);
        }

        &__subslogan {
            @include font (14px, #848e97, $main-font);
        }

        &__low-btn-description {
            bottom: -60px;
        }
    }
}

@include media (1200px) {
    .header {
        background-image: url("../img/1200/header-bg-1200.png");
        background-size: cover;
        background-repeat: no-repeat;


        &__nav-list {
            margin: 0 0 0 15%;
            justify-content: flex-end;
            min-width: 600px;

        }

        &__nav-dropdown {
            flex-basis: 50%;
        }

        &__logo {
            flex-basis: auto;
        }

        &__button-main {
            flex-basis: auto;
        }


        &__nav-list-item {
            margin-right: 3%;
        }

        &__title {
            margin-top: 50px;
            @include font (82px, #fff, $main-font, 700);
        }

        &__slogan {
            margin: 18px 0px;
            @include font (30px, #8d81ac, $main-font);
        }

        &__subslogan {
            @include font (16px, #848e97, $main-font);
        }

        &__top-bar-container {
            flex-wrap: nowrap;
        }

        &__logo {
            order: 1
        }

        &__nav-dropdown {
            order: 2;
            align-self: center;
        }

        &__button-main {
            order: 3
        }

    }
}

.revolutionary-editor {
    padding-bottom: 80px;

    &__section-title {
        margin-top: 72px;
        @include font (26px, #635c73, $main-font, 700);
        text-transform: uppercase;
        text-align: center;
        line-height: 1.5;
    }

    &__main-content {
        margin: 24px 25px 35px 24px;
        @include font (14px, #323232, $secondary-font);
        text-align: center;
    }

    //   git buttons start
    &__git-btns {
        @include flex (center, $jc: center, $direction: row, $wrap: wrap);

    }

    &__git-btn {
        margin: 0 10px 20px 0;
        padding: 3px;

    }

    &__git-btn-link {
        font-family: "Arial", sans-serif;
        text-decoration: none;
        color: #24292e;
        background-color: #eff3f6;
        padding: 6px;
        border: 1px solid rgba(27, 31, 35, .2);
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;

        &:hover {
            background-color: #d6d6d6;
            transition: all 0.5s ease;
        }
    }

    &__git-btn-icon {
        margin-right: 5px;
        color: #24292e;
        vertical-align: middle;
    }

    &__git-btn-count {

        margin: -4px;
        padding: 6px;
        font-family: "Arial", sans-serif;
        background-color: #fff;
        border: 1px solid rgba(27, 31, 35, .2);
        border-bottom-right-radius: 3px;
        border-left: 0;
        border-top-right-radius: 3px;
        font-weight: 600;
        text-decoration: none;
        color: #24292e;
    }



    //   git buttons end
}

//rev media

@include media (480px) {
    .revolutionary-editor {

        &__section-title {
            margin-top: 72px;
            @include font (42px, #635c73, $main-font, 700);
        }

        &__main-content {
            margin: 24px 25px 35px 24px;
            @include font (16px, #323232, $secondary-font);
            text-align: center;
        }
    }

}

@include media (768px) {
    &__main-content {
        margin: 24px 25px 35px 24px;
        @include font (21px, #323232, $secondary-font);
        text-align: center;
    }
}

@include media (1200px) {
    .revolutionary-editor {
        &__section-title {
            margin-top: 72px;
            @include font (54px, #635c73, $main-font, 700);
        }

        &__main-content {
            margin: 24px 10% 35px 10%;
            @include font (21px, #323232, $secondary-font);
            text-align: center;
        }
    }
}

.container_product-features {
    @include flex (center, center, column);
}
.product-features {
    background-color: #f4f4f4;
    padding: 34px 20px 6px;

    &__header {
        width: 230px;
        @include font (32px, $main-color, $main-font, 700);
        text-align: center;
        margin-bottom: 67px;
    }
    &__item {
        @include flex (center, center, column);
        text-align: center;
    }
    &__item-wrapper-small {
        margin-bottom: 38px;
    }
    &__item-caption {
        @include font (16px, #323232, $main-font);
        text-align: center;
        margin: 29px 0 21px 0;
    }
    &__item-text {
        @include font (14px, #848e97, $secondary-font);
        text-align: center;
    }
    &__editor-image {
        width: 317px;
        height: 381px;
        background-image: url('../img/320/editor-320.png');
        background-size: cover;
        margin: 57px -20px 0 0;
        align-self: flex-end;
    }
}

@include media(480px) {
    .product-features {
        padding: 47px 26px 22px;
        &__header {
            width: 320px;
            font-size: 42px;
        }
        &__item {
            width: 425px;
            @include flex (flex-start,
            space-between,
            row);
        }
        &__item-wrapper-small {
            width: 300px;
            margin-bottom: 46px;
            text-align: left;
        }
        &__item-caption {
            text-align: left;
            margin: 0 0 20px 0;
        }
        &__editor-image {
            width: 468px;
            height: 519px;
            background-image: url('../img/480/editor-480.png');
            margin: 0 -26px 0 0;
        }
    }
}

@include media(768px) {
    .product-features {
        padding: 54px 30px 23px;
        &__header {
            width: 510px;
        }
        &__item {
            width: 700px;
        }
        &__item-wrapper-small {
            width: 570px;
            margin-bottom: 56px;
        }
        &__editor-image {
            width: 758px;
            height: 519px;
            background-image: url('../img/768/editor-768.png');
            margin: 0 -30px 0 0;
        }
    }
}

@include media(1200px) {

    .container_product-features {
        @include flex (center, space-between, row, wrap);
    }

    .product-features {
        padding: 54px 40px 20px;

        &__items-wrapper {
         position: relative;
         top: -50px;
         flex-basis: auto;
        }

        &__header {
            flex-basis: 100%;
            font-size: 48px;
            align-self: flex-start;
            text-align: right;
            margin: 0 50px 20px 0;
        }
        &__item {
            width: 470px;
        }
        &__item-wrapper-small {
            width: 70%;
            margin-bottom: 34px;
        }
        &__editor-image {
            flex-basis: auto;
            width: 680px;
            height: 510px;
            background-image: url('../img/1200/editor-1200.png');
            margin: 0 -40px 70px 0;
        }
    }
}
.container_social {
    @include flex (center, center, column);
}
.social {
background: #fff;
padding: 63px 25px 40px;
position: relative;

&__feedback {
    @include flex (center, space-between, row);
    margin-bottom: 35px;
}
&__feedback-carousel-control {
    color: #a2a2a2;
    font-size: 20px;
    cursor: pointer;
}

&__feedback-carousel {
    @include flex (center, space-between, column);
}

&__feedback-carousel-item {
    @include flex (center, center, column);
    margin: 0 20px; 
}
&__feedback-author {
    @include flex (center, center, column);
}

&__feedback-author-userpic {
border-radius: 50%;
border: solid  #fbcdce .5px;
width: 85px;
height: 85px;
background-image: url(../img/320/userpic-carousel.png);
}

&__feedback-author-caption-wrapper {
    @include flex (center, center, column);
    margin-bottom: 23px;
}
&__feedback-author-caption-name {
    margin: 25px 0 7px 0;
    @include font (24px, #000, $main-font, 700);
}
&__feedback-author-caption-nickname {
    @include font (16px, $main-color, $main-font);
}

&__feedback-carousel-item-text {
    @include font (17px, #333, $secondary-font);
    text-align: center;
    margin-bottom: 16px;
}
&__feedback-carousel-item-text span {
    @include font (17px, $main-color, $secondary-font);
    text-align: center;
}
&__feedback-carousel-item-time {
    @include font (16px, #848e97, $main-font);
    text-align: center;
}
&__buttons {
    @include flex (center, space-between, column);
}
&__buttons-item {
    @include flex (center, space-between, column);
}
&__buttons-item-followers {
    margin: 18px 0 30px;
    @include font (14px, #848e97, $main-font);  
}
}

@include media(480px) {
    .social {
        padding: 120px 27px 30px;
        
        &__feedback {
            margin-bottom: 55px;
        }
        &__feedback-author {
            @include flex (center, space-between, row);
            margin-bottom: 40px;
        }
        
        &__feedback-author-userpic {
        margin-right: 10px;
        }
        &__feedback-author-caption-wrapper {
            align-items: flex-start;
        }
        &__feedback-author-caption-name {
            margin: 25px 0 7px 0;
        }
        
        &__feedback-carousel-control {
            position: relative;
            top: 50px;
        }

        &__feedback-carousel-item-text {
            font-size: 16px;
            margin-bottom: 22px;
        }
        &__feedback-carousel-item-text span {
            font-size: 16px;
        }
        }
    }

    @include media(768px) {
        .social {
            padding: 50px 10% 25px;
            
            &__feedback-carousel-item-text {
                font-size: 20px;
                margin-bottom: 27px;
            }
            &__feedback-carousel-item-text span {
                font-size: 20px;
        
            }
            &__underline {
                position: absolute;
                top: 50%;
                width: 100%;
                height: 1px;
                border-top: 1px #f4f4f4 solid;
            }

            &__buttons {
                @include flex (center, center, row, wrap);
                width: 520px;
            }
            .social-btn {
                width: 240px;
            }
            .social-btn_twitter {
                margin-left: 40px;
            }
        }
    }

    @include media(1200px) {
        .social {
            padding: 87px 18% 50px;
            
            &__feedback {
                border-bottom: 1px #f4f4f4 solid;
            }
            &__feedback-carousel {
                margin: 0 0 57px;
            }
            &__feedback-carousel-control {
                top: 30px;
            }
            &__underline {
               display: none;
            }

            &__buttons {
                @include flex (center, center, row);
            }
            .social-btn_twitter{
                margin: 0 40px;
            }
        }
    }
.testimonials {
    padding-top: 30px;
    padding-bottom: 45px;
    background: #4b3b4e url("../img/320/testimonials-bg-320.png");
    background-repeat: no-repeat;
    background-size: cover;


    &::after {
        content: "";
        width: 85%;
        height: 2px;
        background: #7d7180ab;
        display: block;
        margin: 0 auto;
    }

    &__headding {
        @include font (36px, #fff, $main-font, 700);
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    &__testimonial-wrapper {
        @include flex (center, $jc: flex-start, $direction: column, $wrap: nowrap);
    }

    &__item-icon {
        text-align: center;
    }

    &__item-text {

        margin: 30px 35px 40px;
        @include font(16px, #fff, $secondary-font, 700, italic);
        text-align: center;
    }

    &__silent-text {
        display: none;
    }

}

// media

@include media (480px) {


    .testimonials {
        background: #4b3b4e url("../img/480/testimonials-bg-480.png");
        background-repeat: no-repeat;
        background-size: cover;

        &__headding {
            @include font (42px, #fff, $main-font, 700);
        }

        &__item-text {
            margin: 4% 15% 10%;
            @include font(16px, #fff, $secondary-font, 700, italic);
            text-align: center;
        }
    }
}

@include media (768px) {
    .testimonials {
        background: #4b3b4e url("../img/768/testimonials-bg-768.png");
        background-repeat: no-repeat;
        background-size: cover;

        &__item {
            width: 50%;
        }

        &__item-text {
            margin: 4% 5% 10%;
            @include font(16px, #fff, $secondary-font, 700, italic);
            text-align: center;
        }

        &__testimonial-wrapper {
            @include flex (baseline, center, row, wrap);
        }

        &__silent-text {
            @include font(14px, rgba(162, 145, 165, 0.8), $secondary-font, 700);
            margin: 0 auto 2%;
            display: block;
            text-align: center;
            width: 75%;
        }

    }
}

@include media (1200px) {
    .testimonials {
        background: #4b3b4e url("../img/1200/testimonials-bg-1200.png");
        background-repeat: no-repeat;
        background-size: cover;


        &__item {
            width: 33%;
        }

        &__item-text {
            margin: 4% 5% 20%;
            @include font(16px, #fff, $secondary-font, 700, italic);
            text-align: center;
        }

        &__testimonial-wrapper {
            @include flex (baseline, center, row, wrap);
        }

    }

}

.pricing {
    background-color: #4b3b4e;


    &__tables {
        display: flex;
        flex-direction: column;

    }

    &__headding {
        @include font (28px, #fff, $main-font, 700);
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    &__plan {
        margin: 15px auto;
        @include flex (center, center, column, nowrap);
        background-color: rgba(255, 255, 255, 0.11);
        text-align: center;
        width: 80%;
    }

    &__plan-head {
        padding: 45px 32px 35px;
        @include font (24px, #fff, $main-font);
        background-color: rgba(255, 255, 255, 0.06);
        text-transform: uppercase;
        width: 100%;
    }

    &__plan-price {
        margin-top: 32px;
    }

    &__plan-price-main {
        @include font (60px, #fff, $main-font, 700);
    }

    &__plan-price-main-currency {
        @include font (60px, #fff, $main-font);
    }

    &__plan-price-additional {
        @include font (14px, rgba(255, 255, 255, 0.25), $main-font);
        text-transform: uppercase;
    }


    &__plan-description {
        @include font (16px, #fff, $main-font);
        text-transform: capitalize;
    }

    &__plan-description::before {
        content: "";
        width: 70px;
        height: 5px;
        background: #8d81ac;
        display: block;
        margin: 20px auto 30px;
    }

    &__plan-btn {
        @include font (14px, #fff, $main-font);
        @include button (15px 35px, uppercase, rgba(255, 255, 255, 0.15), 40px, #7f6d78, rgba(255, 255, 255, 0.7));
        margin: 65px 0 40px 0;
    }

    &__plan_recomended {
        background: rgba(0, 0, 0, 0.2);
        width: 90%;
    }

    &__plan-price-main_recomended {
        @include font (82px, #fff, $main-font, 700);
    }

    &__plan-price-main-currency_recomended {
        @include font (82px, #fff, $main-font);
    }

    &__plan-head_recomended {
        @include font (24px, #fff, $main-font);
        background-color: rgba(7, 4, 4, 0.26);
        text-transform: uppercase;
        width: 100%;
    }

    &__plan-btn_recomended {
        @include font (16px, #fff, $main-font);
        @include button (20px 50px, uppercase, rgba(255, 255, 255, 0.15), 40px, #7f6d78, rgba(255, 255, 255, 0.7));
        margin: 65px 0 45px 0;
    }

}

//media

@include media (480px) {
    .pricing {
        &__plan {
            width: 60%;
        }

        &__plan_recomended {
            width: 80%;
        }


    }

}

@include media (768px) {
    .pricing {
        &__headding {
            @include font (42px, #fff, $main-font, 700);
            padding-top: 5%;
            margin-bottom: 3%;
        }

        &__tables {
            @include flex (center, center, row, wrap);
        }

        &__plan {
            width: 40%;
        }

        &__plan_recomended {
            width: 50%;
        }
    }

}

@include media (1200px) {

    &__headding {
        @include font (50px, #fff, $main-font, 700);
        padding-top: 10%;
        margin-bottom: 3%;
    }

    .pricing {
        &__plan {
            width: 20%;
            margin: 1%;
        }

        &__plan_recomended {
            width: 28%;
        }
    }


}

.container_callback {
    @include flex (center, center, column);
}
.callback {
    background: #f4f4f4;
    padding: 30px 0 40px;

    &__header-small {
        width: 222px;
        margin-bottom: 40px;
        @include font (24px, #323232, $main-font, 700);
        line-height: 34px;
        text-align: center;
    }
    &__header-big {
        display: none;
    }
    &__form-wrapper {
        @include flex (center, center, column);
    }
    &__input {
        border-radius: 21px;
        background-color: #fff;
        width: 290px;
        padding: 15px 25px;
        margin-bottom: 15px;
        outline: none;
        border: 0;
        @include font (14px, #c8cbcf, $main-font);
    }
}

input:nth-of-type(2) {
    margin-bottom: 21px;
}

@include media(480px) {
    .callback {
        padding: 50px 0;
        &__header-small {
            width: auto;
            margin-bottom: 45px;
            font-size: 28px;
        }
    }
    input:nth-of-type(2) {
        margin-bottom: 15px;
    }
}

@include media(768px) {
    .callback {
        padding: 25px 30px 32px;

        &__header-big {
            display: block;
            margin-bottom: 30px;
            @include font (30px, #635c73, $main-font, 700);
            line-height: 60px;
            text-align: center;
        }
        &__header-small {
            display: none;
        }
        &__form-wrapper {
            @include flex (center, center, row, wrap);
            max-width: 800px;
        }
        &__input {
            width: 335px;
            margin-bottom: 26px;
        }
    }
    input:nth-of-type(2) {
        margin: 0 0 26px 36px;
    }
}

@include media(1200px) {
    .container_callback {
        @include flex (center, center, row);
    }
    .callback {
        padding: 55px 30px 45px;

        &__header-big {
            margin: 0 110px 0 0;
        }
        &__form-wrapper {
            @include flex (center, center, row);
            max-width: auto;
        }
        &__input {
            margin-bottom: 0;
        }
    }
    input:nth-of-type(2) {
        margin: 0 20px;
    }
}
.container_footer {
    @include flex (flex-start, center, column);
}

.footer {
    background: #fff;
    padding: 40px 20% 50px 20px;
    text-align: left;

    &__headline-logo {
        display: none;
        transition: all 0.2s;
    }

    &__headline-link {
        text-decoration: none;
        @include flex (flex-start, flex-start, row);
    }

    &__headline-name {
        @include font (24px, #333, $main-font);
        margin-bottom: 36px;
        transition: all 0.2s;
    }

    &__headline-name span {
        color: $main-color;
    }

    &__headline-link:hover .footer__headline-logo {
        filter: brightness(0%);
    }

    &__headline-link:hover .footer__headline-name {
        color: $main-color;
    }

    &__headline-link:hover .footer__headline-name span {
        color: #333;
    }

    &__headline-text {
        width: 260px;
        @include font (14px, #848e97, $main-font);
        line-height: 21px;
        margin-bottom: 36px;

    }

    &__nav {
        @include flex (flex-start, center, column);
        margin-bottom: 25px;
    }

    &__nav-header {
        @include font (16px, #323232, $main-font);
        margin-bottom: 23px;
    }

    &__nav-item {
        @include font (15px, $main-color, $main-font);
        margin-bottom: 10px;
        text-decoration: none;
        border-bottom: 1px rgba(0, 0, 0, 0) solid;
    }

    &__nav-item:link,
    &__nav-item:visited,
    &__nav-item:active {
        color: $main-color;
    }

    &__nav-item:hover {
        border-bottom: 1px $main-color solid;
    }

    &__contacts {
        @include flex (flex-start, center, column);
    }

    &__contacts-tel {
        @include font (30px, #31384d, $main-font, 700);
        margin-bottom: 15px;
    }

    &__contacts-working-hours {
        @include font (12px, #848e97, $main-font);
        margin-bottom: 38px;
    }

    &__contacts-address-city {
        @include font (16px, #323232, $main-font);
        margin-bottom: 20px;
    }

    &__contacts-address-rest {
        @include font (14px, #848e97, $main-font);
        margin-bottom: 38px;
    }

    &__info-header {
        @include font (16px, #323232, $main-font);
        margin-bottom: 24px;
    }

    &__info-text {
        @include font (14px, #848e97, $main-font);
        text-align: justify;
    }
}

@include media(480px) {

    .footer {
        padding: 30px 10% 40px 35px;

        &__headline {
            @include flex (flex-start, flex-start, row, wrap);
        }

        &__headline-logo {
            display: block;
            margin-right: 20px;
        }

        &__headline-name {
            margin: 0 240px 36px 0;
        }
    }
}

@include media(768px) {
    .container_footer {
        @include flex (flex-start, center, row, wrap);
    }

    .footer {
        padding: 64px 10% 44px 38px;

        &__headline {
            flex-basis: 50%;
        }

        &__headline-name {
            margin: 0 110px 36px 0;
        }

        &__nav {
            flex-basis: 50%;
        }

        &__contacts {
            flex-basis: 50%;
        }

        &__contacts-address-rest {
            width: 220px;
        }

        &__info {
            flex-basis: 50%;
        }

        &__info-text {
            padding-right: 150px;
            text-align: left;
        }
    }

}

@include media(1200px) {

    .container_footer {
        @include flex (flex-start, center, row);
    }

    .footer {
        padding: 60px 80px 60px;

        &__headline-name {
            margin: 0 100px 36px 0;
        }

        &__headline-text {
            padding-right: 30px;
        }
    }
}
@import "001reset";
@import "002variables";
@import "003mixins";
@import "004base";
@import "005buttons";
@import "006header";
@import "007revolutionary";
@import "008product-features";
@import "009social";
@import "010testimonials";
@import "011pricing";
@import "012callback";
@import "013footer";